.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    text-align: center;
    margin-top: 30px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1.2s ease-in-out forwards;
}

h2, h3 {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 1s ease-in-out forwards;
}

h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 15px;
}

h3 {
    font-weight: 500;
    color: blueviolet;
    text-align: left;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0;
    text-align: left;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;
}

.about {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 1s ease-in-out forwards;
}
.about p{
    text-align: center;
}

.about-video {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.about-history {
    background: #ecf0f1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: left;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 1.2s ease-in-out forwards;
}

.about-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.about-today {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInScale 1s ease-in-out forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    video {
        width: 100%;
        height: auto;
    }
}
